<div class="col col-1" style="color: #a94442 ;font-weight: bold;" data-label="Event">Quiz</div>
<div class="col col-1-2" style="font-weight: bold" data-label="Date">
    {{ include.event.date | date: site.dateformat }}
    {{ include.event.date | date: "%H:%M" }}
    <br class="date-spliter"/>{{ include.event.date | date: "%A" }}
</div>
<div class="col col-2" style="font-weight: bold" data-label="Title">
    {{ include.event.title }}
    {% if include.event.location %}
    <br><span style="font-weight: normal;">{{ include.event.location }}</span>
    {% endif %}
</div>
<div class="col col-slides"></div>
<div class="col col-recording"></div>
<div class="col col-4 markdown-content" data-label="Topics">
    {{ include.event.content }}
</div>
