---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
    <h4><b>Class Time: Tuesdays and Thursdays, 3:30 PM - 4:59 PM</b></h4>
    <h4><b>Location: WLNT 401B</b></h4>

    <h4 class="post-title"><b>Office Hours:</b></h4>
    <h4>Professor René Vidal: Thursday 5pm-5:45pm, WLNT 463C</h4>

    <h4>TAs will rotate office hours every three weeks. <br>
        <ul>
            <li>Darshan and Tianjiao: Tues 2-3pm. 09/03, 09/24, 10/15, 11/05</li>
            <li>Ryan and Liangzu: Fri 12:30-1:30pm. 09/13, 10/04, 10/25, 11/15</li>
            <li>Jinqi and Kaleab: Wed 3-4pm. 09/18, 10/09, 10/30, 11/20</li>
        </ul>
        Location: WLNT 452C <br>
        TAs will hold extra office hours on the week that homework is due. <br>
    </h4>


</header>


{{ content }}

<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Course Material</div>
        </li>
        
        {% assign all_assignment_dues = site.assignments | map: "due_event" %}

        {% assign all_events = site.events | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events = all_events | concat: all_assignment_dues %}
        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}

        <!-- Static row for the project happening on Dec 12-19 -->
        <li class="table-row table-row-project">
            <div class="col col-1" style="color: #31708f ;font-weight: bold;">Project</div>
            <div class="col col-1-2" data-label="Date" style="color: #31708f ;font-weight: bold;">Dec 12 - 19, 2024</div>
            <div class="col col-2" style="color: #31708f ;font-weight: bold;" data-label="Description">Final group project</div>
            <div class="col col-4" data-label="Project Guideline"><a href="#"></a></div>
        </li>

    </ul>
</div>